
<header>
  <nav class="navbar navbar-light bg-faded">
     <!-- Toggler/collapsibe Button -->
     <div style="display: flex; justify-content: flex-start; margin-top: 50px; margin-left: 30px;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          &#9776; 
      </button>
      <span style="padding-left: 20px; padding-top: 5px;">EXP|CON</span>
    </div>
  </nav>
</header>